* {
  box-sizing: border-box;
}
html {
  font-size: 6.25%;
}
body {
  margin: 0;
  padding: 0;
}
container {
  display: flex;
  flex-direction:column;
}
i {
  margin: auto;
  font-size: 35rem;
  background-color: white;
  color: crimson;
  cursor: pointer;
}
elements {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 80vw;
  height: 600rem;
  display: flex;
  margin: auto;
}
elements::-webkit-scrollbar {
  visibility: hidden;
}
div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100℅;
  min-width: 100%;
  font-size: 30rem;
  color: whitesmoke;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin: 0rem 0rem;
  background-color: crimson;
}
